$primary-color: #003459;
$secondary-color: #f7dba7;
$neutral100-color: #00171f;
$neutral80-color: #242b33;
$neutral60-color: #667479;
$neutral40-color: #99a2a5;
$neutral20-color: #ccd1d2;
$neutral10-color: #ebeeef;
$neutral00-color: #fdfdfd;
$pink-red: #ff564f;
$green-light: #34c759;
$orange-shine: #ff912c;
$blue-sea: #00a7e7;
